
@{
    ViewBag.Title = "Installment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb -->
<div class="container">
    <ul class="breadcrumbs">
        <li>
            <a href="@Url.Action("Index", "Home")" class="breadcrumbs__link">
                Trang chủ
                <img src="@Url.Content("~/Content/icons/arrow-right.svg")" alt>
            </a>
        </li>
        <li>
            <a href="#!" class="breadcrumbs__link breadcrumbs__link--current">
                Thông
                Tin Trả Góp
            </a>
        </li>
    </ul>
</div>

<!-- Nội dung trang Trả góp -->
<div class="container">
    <div class="wrapperPage">
        <div class="headingPage">
            <h1 class="title">Trả góp</h1>
        </div>

        <section id="insPages" class="table-reponsiveee">
            <div class="content-page">
                <div style="text-align: center;">
                    <span style="font-size:22px">
                        <span style="color:#e74c3c">
                            <strong>
                                <u>
                                    TRẢ GÓP QUA
                                    CÔNG TY TÀI
                                    CHÍNH
                                </u>
                            </strong>
                        </span>
                    </span>
                </div>

                <div>
                    <p>
                        <span style="font-size:18px">
                            <strong>
                                (*) Đối với
                                phương thức trả góp thông qua HD
                                SAISON:
                            </strong>
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            Lãi suất áp dụng sẽ
                            được điều chỉnh dựa trên khoản tiền trả
                            trước ban đầu của sản phẩm (đề nghị quý
                            khách liên hệ số điện thoại bên dưới để được
                            hỗ
                            trợ tư vấn chi tiết).
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            Đối với khoản vay
                            dưới 30 triệu đồng, chỉ cần cung cấp bản sao
                            Căn cước công dân&nbsp;(CCCD) và Giấy phép
                            lái xe (GPLX).
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            Khách hàng được
                            hưởng ưu đãi lãi suất thấp hơn khi cung cấp
                            đầy
                            đủ hồ sơ bao gồm: Căn cước công
                            dân&nbsp;(CCCD), GPLX, hóa đơn tiện ích, và
                            bằng chứng
                            chứng minh thu nhập.
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            <u>
                                Tổng
                                đài&nbsp;liên hệ mua hàng
                            </u>&nbsp;:
                            1900 0243
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            <u>
                                Tư vấn viên HD
                                Saison
                            </u>: 0795 096 733
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            <strong>
                                (*) Đối với
                                phương thức trả góp thông qua FE
                                Credit:&nbsp;
                            </strong>
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            Hồ sơ yêu cầu bổ
                            sung Căn cước công dân (CCCD) và yêu cầu trả
                            trước 10% giá trị đơn hàng để được hưởng mức
                            lãi suất 0.69%.
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            Thông tin liên hệ:
                            1900 0243
                        </span>
                    </p>

                    <div class="table-responsive">
                        <table border="1" cellspacing="0" cellpadding="3" align="center"
                               style="border-collapse:collapse; margin-left:auto; margin-right:auto; width:100%"
                               class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td>
                                        <p style="text-align: center">
                                            <span style="font-size:18px">
                                                <img src="//file.hstatic.net/200000420363/file/logo-vuong-20230206072158-ggphh_small.png"
                                                     alt="" width="100" height="100"
                                                     class="lazypreload">
                                            </span>
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center">
                                            <span style="font-size:18px">
                                                <img src="//file.hstatic.net/200000420363/file/logo_hd_saison_small.png"
                                                     alt="HD Saison" width="100" height="60"
                                                     class="lazypreload">
                                            </span>
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center">
                                            <span style="font-size:18px">
                                                <img src="//file.hstatic.net/200000420363/file/home-credit706.logowik.com_small.png"
                                                     alt="Home Credit" width="100" height="75"
                                                     class="lazypreload">
                                            </span>
                                        </p>
                                    </td>
                                    <td>
                                        <p style="text-align: center">
                                            <span style="font-size:18px">
                                                <img src="//file.hstatic.net/200000420363/file/fundiin-logo_small.png"
                                                     alt="Fundiin" width="100" height="67"
                                                     class="lazypreload">
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                Độ
                                                tuổi
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            Từ
                                            18 - 60 tuổi
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            &nbsp;Trên
                                            18 - 70 tuổi
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            &nbsp;Trên
                                            20 tuổi
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            Trên
                                            18 tuổi
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                Kỳ
                                                hạn
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            3 -
                                            6 - 9 - 12 - 18
                                            tháng
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            &nbsp;6
                                            - 24&nbsp;tháng
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            &nbsp;6
                                            - 9 - 12 tháng
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            2 -
                                            3 - 6 - 9 - 12
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                Khoản
                                                vay
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            1
                                            triệu - 30 triệu
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            &nbsp;Từ
                                            10% giá trị sản
                                            phẩm
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            &nbsp;Từ
                                            30% giá trị sản
                                            phẩm
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            500
                                            nghìn - 15 triệu
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                Số
                                                tiền trả trước tối
                                                thiểu
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            Tối
                                            thiểu 20 - 90%
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            &nbsp;10%
                                            giá trị đơn hàng
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            &nbsp;Tối
                                            thiểu 2.000.000đ
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            Tối
                                            thiểu 20%
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                Lãi
                                                suất
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                0.69%/tháng
                                                (*)
                                            </strong>
                                        </span>
                                    </td>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                1.38%/tháng
                                                đến
                                                2.3%/tháng
                                            </strong>
                                        </span>
                                    </td>
                                    <td><span style="font-size:18px"><strong>&nbsp;1.91%</strong></span></td>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                2.54%/tháng
                                                đến
                                                1.9%/tháng
                                            </strong>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-size:18px">
                                            <strong>
                                                Thủ
                                                tục, giấy
                                                tờ
                                            </strong>
                                        </span>
                                    </td>
                                    <td><span style="font-size:18px">CCCD</span></td>
                                    <td><span style="font-size:18px">&nbsp;CCCD</span></td>
                                    <td><span style="font-size:18px">&nbsp;CCCD</span></td>
                                    <td><span style="font-size:18px">CCCD</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p style="text-align:left; margin-bottom:10px">
                        <span style="font-size:18px">
                            Thông tin liên hệ
                            cửa hàng:
                        </span>
                    </p>

                    <p style="margin-top:5px; margin-bottom:15px">
                        <span style="font-size:18px">
                            0899 000 001 -
                            Showroom Tân Bình&nbsp;<span style="color:#ff0000">
                                <strong>
                                    28 - 30
                                    Trần Triệu Luật, P. Tân Hoà,
                                    TP.HCM
                                </strong>
                            </span>
                        </span>
                    </p>
                    <div class="map-embed-wrap">
                        <iframe class="map-embed"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31354.740338276162!2d106.6185237743164!3d10.785055100000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294f708b975f%3A0x2076e7f098a1b065!2zVGluIEjhu41jIE5nw7RpIFNhbw!5e0!3m2!1svi!2s!4v1749801050309!5m2!1svi!2s"
                                allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <p style="margin-top:5px; margin-bottom:15px">
                        <span style="font-size:18px">
                            0899 000 003 -
                            Showroom Thủ Đức&nbsp;<strong>
                                <span style="color:#ff0000">
                                    180 Lê Văn
                                    Việt, P. Tăng Nhơn Phú,
                                    TP.HCM
                                </span>
                            </strong>
                        </span>
                    </p>
                    <div class="map-embed-wrap">
                        <iframe class="map-embed"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31348.5697043224!2d106.74366577431636!3d10.844089400000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175273ffb855ca7%3A0x658e6853070e6657!2zVElOIEjhu4xDIE5Hw5RJIFNBTyBUSOG7piDEkOG7qEM!5e0!3m2!1svi!2s!4v1749801142623!5m2!1svi!2s"
                                allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <p style="margin-top:5px; margin-bottom:15px">
                        <span style="font-size:18px">
                            0899 000 004 -
                            Showroom Bình Thạnh&nbsp;<span style="color:#ff0000">
                                <strong>
                                    474 Điện
                                    Biên Phủ, P. Gia Định,
                                    TP.HCM
                                </strong>
                            </span>
                        </span>
                    </p>
                    <div class="map-embed-wrap">
                        <iframe class="map-embed"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31353.085936592663!2d106.67253817431641!3d10.800914000000017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529ca2b83e617%3A0x9fc964b88090b763!2zVElOIEjhu4xDIE5Hw5RJIFNBTyBCw4xOSCBUSOG6oE5I!5e0!3m2!1svi!2s!4v1749801185834!5m2!1svi!2s"
                                allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <p style="margin-top:5px; margin-bottom:15px">
                        <span style="font-size:18px">
                            0901 401 963 -
                            Showroom Quận 7 <strong>
                                <span style="color:#ff0000">
                                    A9-10-11,
                                    Đường số 1, Khu dân cư Kim Sơn, P.
                                    Tân Hưng,
                                    TP.HCM
                                </span>
                            </strong>
                        </span>
                    </p>
                    <div class="map-embed-wrap">
                        <iframe class="map-embed"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.9777712756086!2d106.7006403!3d10.736196500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fb2ecd74c09%3A0x6b3bc939186b4c1f!2zVGluIEjhu41jIE5nw7RpIFNhbyBRdeG6rW4gNw!5e0!3m2!1svi!2s!4v1754017710750!5m2!1svi!2s"
                                allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                    <p style="text-align:left; margin-bottom:10px">
                        <span style="font-size:18px">
                            Tư vấn trực
                            tuyến:
                        </span>
                    </p>
                    <ul style="font-size:13px; margin-bottom:10px; padding-left:2rem">
                        <li style="margin-top:5px; margin-bottom:15px">
                            <span style="font-size:18px">
                                0901 813 448
                                (Ms. Ngà)
                            </span>
                        </li>
                        <li style="margin-top:5px; margin-bottom:15px">
                            <span style="font-size:18px">
                                0909 111 940
                                (Mr. Tâm)
                            </span>
                        </li>
                    </ul>

                    <div style="text-align: center;">
                        <span style="font-size:22px; color:#ff0000">
                            <strong>
                                <u>
                                    TRẢ
                                    GÓP QUA THẺ TÍN
                                    DỤNG
                                </u>
                            </strong>
                        </span>
                    </div>

                    <p>
                        <span style="font-size:18px">
                            <strong>
                                (*) Chính
                                sách trả góp:
                            </strong>
                        </span>
                    </p>
                    <ol style="text-align:left">
                        <li>
                            <span style="font-size:18px">
                                Thời hạn trả
                                góp: Khoảng từ 3 đến 12
                                tháng.
                            </span>
                        </li>
                        <li>
                            <span style="font-size:18px">
                                Phí giao dịch
                                thẻ Visa/Master/JCB: Trực tuyến (2.5%),
                                Trực
                                tiếp (1.9%).
                            </span>
                        </li>
                        <li>
                            <span style="font-size:18px">
                                Sản phẩm được
                                áp dụng: Toàn bộ sản phẩm và linh kiện
                                mới
                                (NEW) và đã qua sử dụng (2ND) đang được
                                bày bán tại Tin Học Ngôi
                                Sao.
                            </span>
                        </li>
                        <li>
                            <span style="font-size:18px">
                                Giá trị giao
                                dịch tối thiểu áp dụng trả góp: Từ
                                3.000.000
                                VNĐ trở lên.
                            </span>
                        </li>
                        <li>
                            <span style="font-size:18px">
                                Địa điểm áp
                                dụng: Tại tất cả các showroom và chi
                                nhánh của
                                Tin Học Ngôi Sao.
                            </span>
                        </li>
                        <li>
                            <span style="font-size:18px">
                                Đối tượng áp
                                dụng: Khách hàng sở hữu thẻ tín dụng
                                quốc tế
                                (VISA, MASTERCARD, UNION PAY, JCB).
                                <strong><u>Lưu ý:</u></strong> Có thể
                                tham gia
                                nhiều lần, tổng giá trị không vượt hạn
                                mức thẻ.
                            </span>
                        </li>
                    </ol>

                    <p style="text-align: center">
                        <img style="width:403px; height:753px"
                             src="//file.hstatic.net/200000420363/file/untitled-5-01-20230210110519-zcd_089411bf6b8b448fbbaf9991675a443c_grande.jpg"
                             alt="Hướng dẫn trả góp">
                    </p>

                    <p>
                        <span style="font-size:18px">
                            <strong>
                                (*)&nbsp;Đăng
                                ký trả góp trực tiếp tại cửa
                                hàng:
                            </strong>
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            <strong>
                                Bước
                                1:
                            </strong> Khách hàng cung cấp thẻ tín
                            dụng hợp lệ
                            và đăng ký trả góp theo biểu mẫu (tại cửa
                            hàng).
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            <strong>
                                Bước
                                2:
                            </strong> Thu ngân xuất hóa đơn, ghi
                            chú trả góp
                            và cà thẻ theo số tiền đã đăng
                            ký.
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            <strong>
                                Bước
                                3:
                            </strong> Thanh toán phần còn lại (nếu
                            có) và
                            nhận sản phẩm. Ngân hàng hỗ trợ: Sacombank,
                            HSBC, Shinhan, VIB, Eximbank, MSB, TPBank,
                            Vietcombank, MBBank, ACB, BIDV, Viet Capital
                            Bank, VPBank, Techcombank, Citibank,
                            SeABank, SCB, SHB, Standard Chartered, Nam Á
                            Bank, FeCredit, OCB, Kiên Long Bank, Home
                            Credit.
                        </span>
                    </p>

                    <p style="text-align: center;">
                        <span style="font-size:22px; color:#ff0000">
                            <strong>
                                <u>
                                    TRẢ
                                    GÓP QUA THẺ TÍN DỤNG
                                    ALEPAY
                                </u>
                            </strong>
                        </span>
                    </p>

                    <p>
                        <span style="font-size:18px">
                            <strong>
                                (*) Quy
                                trình đặt hàng trực tuyến bằng
                                thẻ:
                            </strong>
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            Bước 1: Chọn hàng &
                            điền thông tin cá nhân. Bước 2: Chọn phương
                            thức giao hàng và thanh toán “Alepay
                            Payment”, với các phương thức:
                        </span>
                    </p>
                    <ul style="padding-left:2rem; margin-bottom:10px;">
                        <li>
                            <span style="font-size:18px">
                                Thanh toán bằng
                                thẻ quốc tế: Nhập thông tin thẻ và thanh
                                toán.
                            </span>
                        </li>
                        <li>
                            <span style="font-size:18px">
                                Thanh toán trả
                                góp: Chọn ngân hàng, loại thẻ, kỳ hạn
                                (hệ
                                thống hiển thị số tiền trả góp hàng
                                tháng) và tiến hành thanh toán (có thể
                                yêu cầu
                                xác thực).
                            </span>
                        </li>
                        <li>
                            <span style="font-size:18px">
                                Thanh toán bằng
                                thẻ ATM/IB/QRCode: Chọn phương thức,
                                chọn
                                ngân hàng liên kết và thanh
                                toán.
                            </span>
                        </li>
                    </ul>
                    <p>
                        <span style="font-size:18px">
                            Lưu ý: Nếu giao dịch
                            không thành công hoặc có khiếu nại, liên hệ
                            Alepay (Hotline: 1900-58-58-99) và CSKH Tin
                            Học Ngôi Sao.
                        </span>
                    </p>

                    <p style="text-align: center;">
                        <span style="font-size:22px; color:#495057">
                            <strong>
                                <u>
                                    TRẢ
                                    GÓP QUA CÔNG TY TÀI CHÍNH
                                    FUNDIIN
                                </u>
                            </strong>
                        </span>
                    </p>

                    <p>
                        <span style="font-size:18px">
                            <strong>
                                Điều kiện
                                thanh toán trả sau với
                                Fundiin
                            </strong>
                        </span>
                    </p>
                    <p>
                        <span style="font-size:18px">
                            Để xét duyệt tài
                            khoản trả sau Fundiin, khách hàng cần đáp
                            ứng 2
                            điều kiện đơn giản:
                        </span>
                    </p>
                    <p style="margin-left:47px; text-indent:-18pt">
                        <span style="font-size:18px">
                            ●&nbsp; Công dân
                            Việt Nam từ 18 tuổi trở lên
                        </span>
                    </p>
                    <p style="margin-left:47px; text-indent:-18pt">
                        <span style="font-size:18px">
                            ●&nbsp; Có CMND/CCCD
                            gốc còn hiệu lực
                        </span>
                    </p>
                    <p style="margin-left:47px; text-indent:-18pt">
                        <span style="font-size:16px">
                            ●&nbsp; Đơn hàng từ
                            1.000.000&nbsp;VNĐ đến
                            30.000.000&nbsp;VNĐ
                        </span>
                    </p>
                    <p style="margin-left:47px; text-indent:-18pt">
                        <span style="font-size:16px">
                            ●&nbsp; Thanh toán
                            trước 40%, phần còn lại góp trong 6 - 9 - 12
                            tháng
                        </span>
                    </p>
                    <p style="margin-left:47px; text-indent:-18pt">
                        <span style="font-size:18px">
                            Fundiin có 2 gói:
                            góp sau 2 kỳ (1 tháng) không lãi/không phí;
                            hoặc góp 6/9/12 tháng (có phí theo kỳ
                            hạn).
                        </span>
                    </p>
                </div>
            </div>
        </section>
    </div>
</div>
