
@{
    ViewBag.Title = "Policy";
}

<div class="container">
    <ul class="breadcrumbs">
        <li>
            <a href="./index.html" class="breadcrumbs__link">
                Trang chủ
                <img src="@Url.Content("~/Content/icons/arrow-right.svg")" alt>
            </a>
        </li>
        <li>
            <a href="#!" class="breadcrumbs__link breadcrumbs__link--current">
                Chính Sách Bảo
                Hành
            </a>
        </li>
    </ul>
</div>
<div class="container">
    <div class="information-blocks main_article bg_w">
        <div class="content-page policy">
            <h2 class="policy__headline policy__headline--center">
                <strong style="font-size: 2.8rem;">
                    QUY ĐỊNH VỀ CHÍNH
                    SÁCH BẢO HÀNH
                </strong>
            </h2>

            <hr class="policy__divider" />

            <!-- I. ĐỊA ĐIỂM BẢO HÀNH -->
            <h3 class="policy__h3">
                <strong>
                    I. ĐỊA ĐIỂM BẢO
                    HÀNH
                </strong>
            </h3>
            <h4 class="policy__h4">
                <strong>
                    1. NHẬN BẢO
                    HÀNH
                </strong>
            </h4>
            <p class="policy__p">
                Tất cả hàng hóa Tin Học Ngôi Sao bán ra đều được bảo
                hành tại hệ thống cửa hàng.
                <strong>Trung tâm bảo hành chính:&nbsp;</strong>Lầu 1 -
                Số 28-30 Trần Triệu Luật, P.Tân Hoà, Q.Tân Bình, TP.HCM.
            </p>

            <ul class="policy__ul">
                <li>
                    <strong>Hotline nhận hàng:&nbsp;</strong>0919 267
                    015
                    <ul class="policy__ul">
                        <li>
                            <p class="policy__p">
                                <strong>
                                    Quy
                                    trình:
                                </strong> Nhân viên bảo hành
                                nhận hàng, ra biên nhận ngay và gửi tin
                                nhắn mời khách đến nhận lại khi
                                xong.
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            Hotline nhận hàng
                            (khách gửi qua xe/chuyển phát):
                        </strong>
                        0903 955 507 - Trung tâm Bảo hành Tin Học Ngôi
                        Sao
                    </p>
                    <ul class="policy__ul">
                        <li>
                            <p class="policy__p">
                                <strong>
                                    Quy
                                    trình:
                                </strong> Tin Học Ngôi Sao
                                nhận hàng bảo hành, xử lý xong sẽ đóng
                                gói và gửi trả tận nơi.
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            Tiếp nhận phản
                            ánh:
                        </strong>
                    </p>
                    <ul class="policy__ul">
                        <li>
                            Email: <a class="policy__link"
                                      href="mailto:phananhbaohanh@shartshop.com">phananhbaohanh@shartshop.com</a>
                        </li>
                        <li>
                            Hotline: 0931 889 888 - chăm sóc khách
                            hàng
                        </li>
                    </ul>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>Giờ làm việc:</strong>
                        Thứ 2 - Thứ 7 (giờ hành chính)
                    </p>
                    <ul class="policy__ul">
                        <li>
                            Sáng: 08h30 - 12h00 ; Chiều: 13h00 - 17h30 ;
                            <em>Nghỉ trưa: 12h00 - 13h00</em>
                        </li>
                    </ul>
                </li>
            </ul>

            <hr class="policy__divider" />

            <!-- II. ĐIỀU KIỆN BẢO HÀNH -->
            <h3 class="policy__h3">
                <strong>
                    II. ĐIỀU KIỆN BẢO
                    HÀNH
                </strong>
            </h3>
            <ul class="policy__ul">
                <li>
                    <p class="policy__p">
                        <strong>2.1</strong> Sản phẩm
                        còn trong thời hạn bảo hành, có tem (hoặc
                        Serial) của NPP và tem Tin Học Ngôi Sao, hư hỏng
                        do lỗi kỹ thuật/nhà sản xuất.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>2.2</strong> Tem bảo
                        hành và mã vạch còn nguyên vẹn, không rách, vỡ,
                        biến dạng, tẩy xoá.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>2.3</strong> Sản phẩm
                        còn nguyên vẹn, không cong, vênh, rạn nứt, sứt
                        mẻ, nứt khe cắm.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>2.4</strong> Sử dụng
                        đúng nguồn điện, không bị mối mọt/côn trùng,
                        cháy nổ, phồng tụ, oxy hóa do môi
                        trường.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>2.5</strong> Không tự ý
                        tháo dỡ, sửa chữa phần cứng.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>2.6</strong> Các điều
                        kiện khác theo tiêu chuẩn bảo hành của hãng hoặc
                        nhà phân phối tại Việt Nam.
                    </p>
                </li>
            </ul>

            <!-- TIÊU CHUẨN BẢO HÀNH -->
            <h2 class="policy__h2">
                <strong>
                    TIÊU CHUẨN BẢO HÀNH THEO
                    HÃNG
                </strong>
            </h2>
            <div class="table-responsive policy__table-wrap">
                <table class="table policy__table">
                    <tbody>
                        <tr>
                            <td>
                                <a class="policy__link"
                                   href="https://www.dell.com/support/home/en-vn?app=warranty"
                                   target="_blank">DELL</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://amdvietnam.vn/chinh-sach-bao-hanh.html"
                                   target="_blank">AMD</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.lg.com/vn/tro-giup/bao-hanh"
                                   target="_blank">LG</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.asus.com/support/images/upload/ee6559a7-9868-4949-8411-06f022e5893e.pdf"
                                   target="_blank">ASUS</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.samsung.com/vn/support/warranty/"
                                   target="_blank">SAMSUNG</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="policy__link"
                                   href="https://support.hp.com/vn-en"
                                   target="_blank">HP</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://western.com.vn/media/news/2410_chinh-sach-bao-hanh-tai-trung-tam-wd-viet-nam-1.jpg"
                                   target="_blank">WESTERN</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.logitech.com/vi-vn/tos/terms.html?id=3101.html"
                                   target="_blank">LOGITECH</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.gigabyte.com/vn/Support/Warranty"
                                   target="_blank">GIGABYTE</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.acer.com/vn-vi/support/warranty"
                                   target="_blank">ACER</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="policy__link"
                                   href="https://www.toshiba-lifestyle.com/vn/dieu-khoan-bao-hanh"
                                   target="_blank">TOSHIBA</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://vn.aoc.com/index/explore/route/warranty"
                                   target="_blank">AOC</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.tp-link.com/vn/support/replacement-warranty/"
                                   target="_blank">TP-LINK</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.seagate.com/as/en/support/vietnam/"
                                   target="_blank">SEAGATE</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://support.lenovo.com/vn/en/warrantylookup#/"
                                   target="_blank">LENOVO</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a class="policy__link"
                                   href="https://vn.msi.com/page/warranty"
                                   target="_blank">MSI</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.intel.vn/content/www/vn/vi/support/articles/000005494/processors.html"
                                   target="_blank">INTEL</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.viewsonic.com/vn/support/warranty/"
                                   target="_blank">VIEWSONIC</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.zotac.com/vn/page/product-warranty-policy"
                                   target="_blank">ZOTAC</a>
                            </td>
                            <td>
                                <a class="policy__link"
                                   href="https://www.imou.com/vn/policy#warranty-policy"
                                   target="_blank">IMOU</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- III. ĐIỀU KIỆN KHÔNG BẢO HÀNH -->
            <hr class="policy__divider" />
            <h3 class="policy__h3">
                <strong>
                    III. ĐIỀU KIỆN KHÔNG BẢO
                    HÀNH
                </strong>
            </h3>
            <ul class="policy__ul">
                <li>
                    <p class="policy__p">
                        <strong>3.1</strong> Sản phẩm
                        hết thời hạn bảo hành hoặc không do Tin Học Ngôi
                        Sao bán ra.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>3.2</strong> Tem bảo
                        hành, mã vạch, chỉ số dung lượng, số serial
                        number bị rách, mờ hoặc có dấu hiệu sửa
                        chữa.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>3.3</strong> Thiết bị
                        bị va chạm, rơi rớt, bể mẻ, móp méo, biến dạng,
                        trầy xước, rỉ sét, xì hoặc phù tụ.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>3.4</strong> Thiết bị
                        có dấu hiệu cháy nổ, côn trùng xâm nhập hoặc đặt
                        trong môi trường ẩm ướt.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>3.5</strong> Hư hỏng do
                        thiên tai, dùng nguồn điện không ổn định hoặc
                        vận chuyển sai quy cách.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>3.6</strong> Không bảo
                        hành lỗi do phần mềm và các phụ kiện tiêu hao đi
                        kèm. Riêng adapter của Modem, Access Point,
                        LCD... bảo hành 1 tháng.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>3.7</strong> Không chịu
                        trách nhiệm về dữ liệu trong ổ cứng, SSD
                        hư.
                    </p>
                </li>
            </ul>

            <!-- IV. THỜI GIAN GIỮ BẢO HÀNH -->
            <hr class="policy__divider" />
            <h3 class="policy__h3">
                <strong>
                    IV. THỜI GIAN GIỮ BẢO
                    HÀNH
                </strong>
            </h3>

            <h4 class="policy__h4">
                <strong>
                    4.1 Đối với hàng thuộc diện
                    bảo hành 1 đổi 1 của Ngôi Sao
                </strong>
            </h4>
            <ul class="policy__ul">
                <li>
                    <p class="policy__p">
                        <strong>
                            Khách hàng tại
                            TP.HCM:
                        </strong> Trong vòng 02 giờ làm việc
                        (trừ trường hợp hết hàng).
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            Khách hàng
                            tỉnh:
                        </strong> Trong vòng 07 ngày làm việc
                        (không tính Chủ nhật), tính từ lúc công ty nhận
                        hàng.
                    </p>
                </li>
            </ul>

            <h4 class="policy__h4">
                <strong>
                    4.2 Đối với bảo hành chính
                    hãng
                </strong>
            </h4>
            <ul class="policy__ul">
                <li>
                    <p class="policy__p">
                        <strong>
                            Thời gian phổ
                            biến:
                        </strong> 14 ngày làm việc (không tính
                        Thứ 7 &amp; Chủ nhật) kể từ lúc nhận hàng. Nếu
                        quá thời hạn sẽ có thông báo lý do.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            Tối đa cho bảo hành
                            linh kiện:
                        </strong> 30 ngày.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        Một số trường hợp không đủ điều
                        kiện bảo hành, vẫn có thể nhận hỗ trợ; thời gian
                        phụ thuộc hãng (thường 2–6 tháng nếu phải gửi
                        nước ngoài).
                    </p>
                </li>
            </ul>

            <h4 class="policy__h4">
                <strong>
                    4.4 Trường hợp hàng bảo hành
                    không còn (ngưng sản xuất / ngưng kinh
                    doanh)
                </strong>
            </h4>
            <p class="policy__p">
                Khách hàng có thể chọn một trong các
                phương án sau:
            </p>
            <ul class="policy__ul">
                <li>
                    <p class="policy__p">
                        <strong>
                            4.4.1 Đổi sản phẩm
                            tương đương
                        </strong> (nếu có) và không nhất
                        thiết là hàng mới 100%.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            4.4.2 Đổi sản phẩm cấp
                            cao hơn
                        </strong> nếu đồng ý mức giá bù
                        chênh; thời hạn bảo hành tính tiếp theo sản phẩm
                        cũ.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            4.4.3 Thương lượng hoàn
                            tiền
                        </strong> với mức khấu trừ cụ thể:
                    </p>
                    <ul class="policy__ul">
                        <li>
                            <p class="policy__p">
                                <strong>
                                    Hàng
                                    mới:
                                </strong>
                            </p>
                            <ul class="policy__ul">
                                <li>
                                    <p class="policy__p">
                                        Bảo hành 36
                                        tháng: Khấu trừ 05%/tháng (tính
                                        từ tháng 1).
                                    </p>
                                </li>
                                <li>
                                    <p class="policy__p">
                                        Bảo hành 24
                                        tháng: Khấu trừ 10%/tháng (tính
                                        từ tháng 1).
                                    </p>
                                </li>
                                <li>
                                    <p class="policy__p">
                                        Bảo hành 12
                                        tháng: Khấu trừ 10%/tháng (tính
                                        từ tháng 1).
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="policy__p">
                                <strong>
                                    Hàng
                                    cũ:
                                </strong> Tính theo tem NS
                            </p>
                            <ul class="policy__ul">
                                <li>
                                    <p class="policy__p">
                                        Bảo hành 06
                                        tháng: Khấu trừ 10%/tháng (tính
                                        từ tháng 1).
                                    </p>
                                </li>
                                <li>
                                    <p class="policy__p">
                                        Bảo hành 03
                                        tháng: Khấu trừ 15% tháng đầu và
                                        10% từ tháng thứ 2 trở
                                        đi.
                                    </p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <p class="policy__p">
                                <strong>
                                    Tối đa khấu
                                    trừ:
                                </strong> 70% giá trị sản phẩm
                                (tính theo giá thị trường tại thời
                                điểm). Nếu hàng không còn, căn cứ theo
                                sản phẩm hiệu năng tương tự.
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>

            <p class="policy__p"><strong>Quý khách lưu ý:</strong></p>
            <ul class="policy__ul">
                <li>
                    <p class="policy__p">
                        Giữ biên nhận bảo hành để nhận
                        hàng. Nếu mất, vui lòng cung cấp giấy tờ tùy
                        thân/VNeID hoặc giấy giới thiệu (nếu là công ty)
                        và số điện thoại đúng như trên biên
                        nhận.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        Không giải quyết ngoại lệ; quá
                        45 ngày xin phép từ chối xử lý.
                    </p>
                </li>
            </ul>

            <!-- V. CÁC CHẾ ĐỘ BẢO HÀNH ĐẶC BIỆT -->
            <hr class="policy__divider" />
            <h3 class="policy__h3">
                <strong>
                    V. CÁC CHẾ ĐỘ BẢO HÀNH ĐẶC
                    BIỆT
                </strong>
            </h3>

            <h4 class="policy__h4">
                <strong>
                    5.1 Chế độ bảo hành 1 đổi
                    1
                </strong>
            </h4>
            <p class="policy__p">
                Các sản phẩm có chế độ 1 đổi 1 được công bố trên website
                <a class="policy__link" href="https://shartshop.com" target="_blank"
                   rel="nofollow">shartshop.com</a>.
                Xem thêm <strong>
                    <a class="policy__link"
                       href="https://shartshop.com/collections/bao-hanh-sieu-toc-48h/"
                       target="_blank" rel="nofollow">
                        bảo hành siêu tốc
                        1h tại đây
                    </a>
                </strong>.
            </p>

            <h4 class="policy__h4">
                <strong>
                    5.2 Bảo hành cho sản phẩm
                    cũ
                </strong>
            </h4>
            <p class="policy__p">
                Tất cả sản phẩm cũ do Ngôi Sao bán ra
                đều có chế độ 1 đổi 1 trong vòng 01 tháng đầu.
            </p>

            <h4 class="policy__h4">
                <strong>
                    5.3 Bảo hành cho sản phẩm
                    Tivi
                </strong>
            </h4>
            <p class="policy__p">
                Về chính sách bảo hành TV, vui lòng <a class="policy__link"
                                                       href="https://shartshop.com/pages/chinh-sach-bao-hanh-tv-vsp"
                                                       target="_blank" rel="nofollow">
                    <strong>
                        xem tại
                        đây
                    </strong>
                </a>.
            </p>

            <!-- VII. NHẬN HÀNG BẢO HÀNH (KHU VỰC TỈNH) -->
            <hr class="policy__divider" />
            <h3 class="policy__h3">
                <strong>VII. NHẬN HÀNG BẢO HÀNH</strong>
                <span class="policy__h4">
                    &nbsp;Khu vực tỉnh (khác Thành
                    phố Hồ Chí Minh)
                </span>
            </h3>

            <p class="policy__p">
                Quý khách vui lòng chuyển phát hàng hóa
                đến Tin Học Ngôi Sao.
            </p>

            <ol class="policy__ul">
                <li>
                    <p class="policy__p">
                        <strong>
                            Đóng gói hàng
                            hóa:
                        </strong>
                    </p>
                    <ul class="policy__ul">
                        <li>
                            <p class="policy__p">
                                Đóng gói cẩn thận để
                                tránh hư hỏng/va đập. Với mặt hàng điện
                                tử dễ vỡ, không gửi Viettel Post (đã ghi
                                nhận tỷ lệ vỡ màn cao khi gửi ra miền
                                Bắc).
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <p class="policy__p">
                        <strong>
                            Thông tin người
                            nhận:
                        </strong>
                    </p>
                    <ul class="policy__ul">
                        <li>
                            <p class="policy__p">
                                <strong>
                                    Phòng Bảo
                                    Hành/Đổi trả — Tin Học Ngôi
                                    Sao
                                </strong>
                            </p>
                        </li>
                        <li>
                            <p class="policy__p">
                                <strong>
                                    Địa
                                    chỉ:
                                </strong> 28-30 Trần Triệu Luật,
                                P.Tân Hoà, Q.Tân Bình, TP.HCM
                            </p>
                        </li>
                        <li>
                            <p class="policy__p">
                                <strong>SĐT:</strong>
                                0903 955 507
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <p class="policy__p">
                        <strong>
                            Thông tin người
                            gửi:
                        </strong>
                    </p>
                    <ul class="policy__ul">
                        <li>
                            <p class="policy__p">
                                Ghi rõ họ tên, địa chỉ,
                                số điện thoại. Thông tin cần chính xác
                                vì Ngôi Sao trả hàng tận nhà.
                            </p>
                        </li>
                        <li>
                            <p class="policy__p">
                                Ưu tiên chuyển qua bưu
                                điện hoặc các nhà chuyển phát tận nơi
                                khác.
                            </p>
                        </li>
                    </ul>
                </li>

                <li>
                    <p class="policy__p">
                        <strong>
                            Gọi điện thông báo sau
                            khi gửi hàng
                        </strong>
                    </p>
                    <ul class="policy__ul">
                        <li>
                            <p class="policy__p">
                                Nếu gửi qua chành xe,
                                sau khi gửi vui lòng gọi <strong>
                                    0903
                                    955 507
                                </strong> để thông báo Ngôi
                                Sao nhận hàng (cung cấp: họ tên, địa
                                chỉ, SĐT, số bill, ngày gửi).
                            </p>
                        </li>
                    </ul>
                </li>
            </ol>

            <div class="table-responsive policy__table-wrap">
                <table class="table policy__table">
                    <tbody>
                        <tr>
                            <td>
                                <p class="policy__p">
                                    Họ tên người
                                    gửi
                                </p>
                            </td>
                            <td>
                                <p class="policy__p">-</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="policy__p">
                                    Địa chỉ <span class="policy__accent">
                                        (ghi như
                                        gửi thư vì sẽ trả hàng tận
                                        nhà)
                                    </span>
                                </p>
                            </td>
                            <td>
                                <p class="policy__p" style="text-align:center">
                                    Số ĐT
                                    người gửi
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="policy__p">
                                    Số bill
                                    gửi
                                </p>
                            </td>
                            <td>
                                <p class="policy__p">-</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="policy__p">
                                    Tên người
                                    nhận
                                </p>
                            </td>
                            <td>
                                <p class="policy__p" style="text-align:center">
                                    Phòng bảo
                                    hành Tin Học Ngôi Sao
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p class="policy__p">
                                    Số ĐT người
                                    nhận
                                </p>
                            </td>
                            <td>
                                <p class="policy__p" style="text-align:center">
                                    Ngày
                                    gửi
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ul class="policy__ul">
                <li>
                    <p class="policy__p">
                        <strong>
                            Thông tin cập
                            nhật:
                        </strong> Trong 01 ngày, Ngôi Sao sẽ
                        cập nhật tình trạng hàng nhận được để khách yên
                        tâm.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            Kiểm tra sản
                            phẩm:
                        </strong> Sau khi nhận, chúng tôi kiểm
                        tra điều kiện bảo hành và thông báo cụ thể.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            Thời gian xử
                            lý:
                        </strong> Mở kiện &amp; lập biên nhận tối
                        đa 02 ngày làm việc từ khi nhận hàng. Nhận hàng
                        tại HCM tối đa 01 ngày làm việc từ khi hàng
                        tới.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            Phí gửi trả hàng bảo
                            hành:
                        </strong> Ngôi Sao đóng gói cẩn thận và
                        giao tận nhà với mức phí tiết kiệm (tương đương
                        chành xe) để tránh hư hỏng linh kiện.
                    </p>
                </li>
                <li>
                    <p class="policy__p">
                        <strong>
                            Phản hồi &amp; khiếu
                            nại:
                        </strong>
                        Mọi thắc mắc về thái độ phục vụ xin liên hệ:
                        <strong>0931 889 888</strong> (CSKH) hoặc
                        email <a class="policy__link"
                                 href="mailto:cskh@shartshop.com">cskh@shartshop.com</a>.
                        Quý khách có thể gửi phản hồi qua email để chúng
                        tôi phục vụ tốt hơn.
                    </p>
                </li>
            </ul>
            <p class="policy__p">
                Chân thành cảm ơn Quý khách đã tin
                tưởng và ủng hộ Tin Học Ngôi Sao. Rất hân hạnh được phục
                vụ Quý khách!
            </p>
        </div>
    </div>
</div>

