@* Views/Shared/_Footer.cshtml *@
<nav class="navbar">
    <div class="container">
        <div class="footer__policy">
            <div class="footer__policy-item">
                <div class="footer__policy-icon">
                    <img width="100" height="100"
                         src="//theme.hstatic.net/200000420363/1001333448/14/icon_policy_page_1.png?v=3447"
                         alt="CHÍNH SÁCH GIAO HÀNG">
                </div>
                <div class="footer__policy-text">
                    <h5 class="footer__policy-title">CHÍNH SÁCH GIAO HÀNG</h5>
                    <p class="footer__policy-sub">Nhận hàng và thanh toán </p>
                </div>
            </div>

            <div class="footer__policy-item">
                <div class="footer__policy-icon">
                    <img width="100" height="100"
                         src="//theme.hstatic.net/200000420363/1001333448/14/icon_policy_page_2.png?v=3447"
                         alt="ĐỔI TRẢ DỄ DÀNG">
                </div>
                <div class="footer__policy-text">
                    <h5 class="footer__policy-title">ĐỔI TRẢ DỄ DÀNG</h5>
                    <p class="footer__policy-sub">1 đổi 1 trong 7 ngày</p>
                </div>
            </div>

            <div class="footer__policy-item">
                <div class="footer__policy-icon">
                    <img width="100" height="100"
                         src="//theme.hstatic.net/200000420363/1001333448/14/icon_policy_page_3.png?v=3447"
                         alt="GIÁ LUÔN LUÔN RẺ NHẤT">
                </div>
                <div class="footer__policy-text">
                    <h5 class="footer__policy-title">GIÁ LUÔN LUÔN RẺ NHẤT</h5>
                    <p class="footer__policy-sub">
                        Giá cả hợp lý, nhiều ưu đãi
                        tốt
                    </p>
                </div>
            </div>

            <div class="footer__policy-item">
                <div class="footer__policy-icon">
                    <img width="100" height="100"
                         src="//theme.hstatic.net/200000420363/1001333448/14/icon_policy_page_4.png?v=3447"
                         alt="HỖ TRỢ NHIỆT TÌNH">
                </div>
                <div class="footer__policy-text">
                    <h5 class="footer__policy-title">HỖ TRỢ NHIỆT TÌNH</h5>
                    <p class="footer__policy-sub">Tư vấn, giải đáp mọi thắc mắc</p>
                </div>
            </div>
        </div>
        <div class="footer__row">

            <!-- Footer column 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">Hỗ Trợ Khách Hàng</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Thẻ Ưu Đãi</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Hướng Dẩn Mua Online</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">
                            Ưu Đãi Dành Cho Danh
                            nghiệp
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Chính Sách Trả Góp</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Dịch Vụ Sửa Chưa</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">Chính sách mua hàng</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">
                            Điều kiện giao dịch
                            chung
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Chính sách bảo hành</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Chính sách đổi trả</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Chính sách thanh toán</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">
                            Giao hàng và Lắp đặt tại
                            nhà
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">
                            Dịch vụ lắp đặt và nâng
                            cấp PC/ Laptop tại cửa hàng & TTBH
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">
                            Chính sách bảo mật thanh
                            toán
                        </a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">
                            Quy định Đặt cọc và Giữ
                            hàng
                        </a>
                    </li>

                </ul>
            </div>

            <!-- Footer column 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">Thông tin Shop</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Hệ thống cửa hàng</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Trung tâm bảo hành</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Chính sách bảo mật</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>

            <!-- Footer column 5 -->
            <div class="footer__col">
                <h3 class="footer__heading">Email liên hệ</h3>
                <ul class="footer__list">
                    <li>
                        <p class="footer__label">Hỗ Trợ Khách Hàng</p>
                        <a href="mailto:contact@SharkTank.com"
                           class="footer__link"> contact@SharkTank.com </a>
                    </li>
                    <li>
                        <p class="footer__label">Liên hệ báo giá:</p>
                        <a href="tel:18008888" class="footer__link">18008888</a>
                    </li>
                    <li>
                        <p class="footer__label">Phát triển bởi:</p>
                        <p class="footer__text">
                            Nguyễn Hải Đăng
                        </p>
                    </li>
                    <li>
                        <p class="footer__label">Công nghệ:</p>
                        <p class="footer__text">
                            ASP.NET
                        </p>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</nav>
